{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<section class="presentation">
    <div class="nameAndfunction">
        <h1>
            Hi <span class="hello">👋</span>,<br>
            My name is <br>
            <span class="name">Benos Jean Loïc</span><br>
            and i am a web developper
        </h1>
    </div>
    <div class="pictureMe">
    </div>
</section>
{% endblock %}
