.aboutMe{
  height: 194px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  >h1{
    font-size: 50px;
    text-transform: uppercase;
  }
}

.card{
  margin-top: 30px;
  &-title,&-content{
    display: flex;
    justify-content: space-between;
  }
  &-title{
    margin-bottom: 10px;
    align-items: center;
    .badge{
      background: $backgroundBadge;
      color: $colorTextBadge;
      padding: 5px;
      border-radius: 20px;
      width: 60px;
      text-align: center;
    }
  }
  &-content{
    .icons{
      display: flex;
      svg{
        margin-right: 5px;
      }
    }
  }
}

.formation{
  margin-top: 30px;
}